html {
    height: 100%;
    width: 100%;

  }
h1 {
  color: green;
  
}
.blue {
  color: blue;
  cursor: pointer;
}
#red {
  color: red;
  cursor: pointer;
}
#say {
  cursor: pointer;
    transition: opacity 2s ease;
}
h5 {
  cursor: pointer;
}
.fade-in {
  opacity: 0;
}
